ul.sidenav li {
    color: #FFF;
}
ul.sidenav li > a {
    padding-left: 6px;
}
ul.sidenav li > a > i {
    padding-right: 8px;
}
ul.sidenav li > a:hover {
    text-decoration: none;
    background: #1caf9a;
    cursor: pointer;
}
ul.sidenav li > a:focus {
    text-decoration: none;
}
li.sidenav-selected {
    background: #1caf9a;

}
