image: node:alpine

cache:
  paths:
  - node_modules/
  - dist


stages:
    - build
    - publish


build:    
    stage: build    
    script:
        - npm install
        - npm run dist
        - tar -C `pwd`/dist -zcvf bundle.tar.gz .
        - "CODECOV_TOKEN=$CODECOV_TOKEN npm run codecov"
    artifacts:
        paths:
            - bundle.tar.gz
        expire_in: 1 week

npm_publish:
    stage: publish
    only:
        - tags
    script:
        - NPM_TOKEN=$NPM_TOKEN echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
        - npm publish dist


    