:local(.rui-snav-grp) {
  cursor: pointer;
  border-left: 4px solid transparent;
  padding: 12px 10px;
  font-weight: bold;
}
:local(.sidenav-item) {
  cursor: pointer;
  border-left: 4px solid transparent;
  font-weight: bold;
  padding: 12px 10px;
}
:local(.active) {
  background: #1abc9c;
  border-left: 4px solid #117964;
}

:local(.sidenav-item:hover) {
  background: #1abc9c !important;
}

:local(.rui-snav-grp:hover) {
  background: #2c3e50;
}
:local(.rui-snav-items) {
  overflow: hidden;
  transition: height 0.15s ease-out;
}
:local(.rui-snav-grp-c > .sidenav-item) {
  padding-left: 32px;
}

:local(.rui-snav-collapsed) {
    border-left: 4px solid #117964;
}
